{% extends 'base.html.twig' %}

{% block body %}
    <h1>About</h1>
    <br>
    <p>
        Welcome to the about page for the Online Notebook. This online application was
        designed by Kevin Zheng for ITMD462 for Fall 2015 Semester.
    </p>

{% endblock %}
